* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555; /* this is the color of the font*/
    font-family: 'Montserrat', sans-serif; /*If lato > Arial > sans-serif in case no connection*/
    font-size: 20px; /*overall font size of the project*/
    font-weight: 300px;
    text-rendering: optimizeLegibility; /*makes font rendering perfect*/
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0 , 0.7), rgba(0, 0, 0, 0.7)), url(img/chicago-land.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    margin-top:0;
    margin-bottom: 20px; /*push the buttons below the h1 element down*/
    color: #fff;
    font-size: 240%; /* want it to be relative to the html text size, so here it is 40px */
    font-weight: 100; /* gets rid of the bold*/
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}


/*This positons everyhting within the header or the top page of the website*/
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link, /*link psuedoclass just mean the 'a' element in it's normal state*/
.btn:visited { /*once a link has been clicked*/
    display: inline-block; /* allows attribute padding and margin */
    padding: 10px 30px;
    font-weight: 10;
    text-decoration: none; /*gets rid of the underline for the link*/
    border-radius: 200px; /*makes the button round*/
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.5s, border 0.5s, color 0.5s; /*the transition period from normal to the hover psudoclass*/
}


.btn-full:link,
.btn-full:visited {
    background-color: #74b9ff;
    border: 1px solid #74b9ff;/*Same border as below to make the buttons the same size*/
    margin-right: 15px; /*pushes the button on the right over 15px*/
    
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #74b9ff;
    color: #74b9ff;
}


.btn:hover, /*when the mouse is over the button*/
.btn:active {
    background-color: #d63031;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #d63031;
    color: #fff;    
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #d63031;
}


/*Formatting Logo & navigation*/
.logo {
    height: 160px;
    width: auto;
    float: left; /*moves the logo to the left side of the page*/
    margin-top: 30px;
}

.main-nav {
    float: right; /*Navigation is to the right side of the page*/
    list-style: none; /*gets rid of the bullet points*/
    margin-top: 30px;
}

.main-nav li { /*Selects all the li elements in the navigation*/
    display: inline-block; /*the list are no longer stacked but are instead side by side*/
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited { /* selects each link within the list element */
    text-decoration: none;
    padding: 8px 0; /* 8 padding top and bottom to push line below and 0 on the sides*/
    color: #fff;
    text-transform: uppercase;
    font-size: 90%; /*again, we want it relative to the 20px format*/
    border-bottom: 2px solid transparent; /*need this transparancy when using the transition property or else it wont be smooth*/
    transition: border-bottom 0.8s;
}

.main-nav li a:hover,
.main-nav li a:active { 
    border-bottom: 2px solid #74b9ff;

}









