* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*gets ride of all the margins and paddings*/

html {
    background-color: #fff;
    color: #555; /* this is the color of the font*/
    font-family: 'Montserrat','Arial', sans-serif; /*If lato > Arial > sans-serif in case no connection*/
    font-size: 20px; /*overall font size of the project*/
    font-weight: 300px;
    text-rendering: optimizeLegibility; /*makes font rendering perfect*/
}

.clearfix {zoom:everyone 1}
.clearfix {
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
    
}


section { /*this is for white space to preserve the background color*/
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* -------- HEADER ------- */

header {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0), rgba(0, 0, 0));
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


/*--------- TEXT HEADERS ------------*/
h1,
h2,
h3 {
    font-weight: 100; /* gets rid of the bold*/
    text-transform: uppercase;
    word-spacing: 3px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;/*push the buttons below the h1 element down*/
    color: #fff;
    font-size: 260%;/* want it to be relative to the html text size, so here it is 40px */
    letter-spacing: 1px;
}

h2 {
    font-size: 160%;
    word-spacing: 1px;
    text-align: center; /*centers the text*/
    margin-bottom: 20px;
}

h3 {
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 10px;

}

h2:after { /*This adds the blue line between the h2 and p. */
    display: block;
    height: 2px;
    background-color: #aad8f0;
    content: " "; /*Have to specify content for the after psuedoclass*/
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}



/*This positons everyhting within the header or the top page of the website*/
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link, /*link psuedoclass just mean the 'a' element in it's normal state*/
.btn:visited,/*once a link has been clicked*/
input[type=submit]{ /*including the sign up button*/
    display: inline-block; /* allows attribute padding and margin */
    padding: 10px 30px;
    font-weight: 10;
    text-decoration: none; /*gets rid of the underline for the link*/
    border-radius: 200px; /*makes the button round*/
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.5s, border 0.5s, color 0.5s; /*the transition period from normal to the hover psudoclass*/
}


.btn-full:link,
.btn-full:visited,
input[type=submit]{/*including the sign up button*/
    background-color: #aad8f0;
    border: 1px solid #aad8f0;/*Same border as below to make the buttons the same size*/
    margin-right: 15px; /*pushes the button on the right over 15px*/
    color: black;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #aad8f0;
    color: #aad8f0;
}


.btn:hover, /*when the mouse is over the button*/
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #ff0004;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #ff0004;
    color: #fff;    
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #ff0004;
    color: white;
}


/*----- LOGO & NAVIGATION -------*/
.logo {
    position: absolute;
    left: 30px;
    height: 120px;
    width: auto;
    float: left;
    margin-top: 30px;
}

.main-nav {
    float: right; /*Navigation is to the right side of the page*/
    list-style: none; /*gets rid of the bullet points*/
    margin-top: 30px;
}

.main-nav li { /*Selects all the li elements in the navigation*/
    display: inline-block; /*the list are no longer stacked but are instead side by side*/
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited { /* selects each link within the list element */
    text-decoration: none;
    padding: 8px 0; /* 8 padding top and bottom to push line below and 0 on the sides*/
    color: #fff;
    text-transform: uppercase;
    font-size: 105%; /*again, we want it relative to the 20px format*/
    border-bottom: 2px solid transparent; /*need this transparancy when using the transition property or else it wont be smooth*/
    transition: border-bottom 0.8s;
}

.main-nav li a:hover,
.main-nav li a:active { 
    border-bottom: 2px solid #aad8f0;

}

/* ----- PARAGRPAHS ------ */
.long-copy {
    line-height: 145%; /*Should be between 120 - 145 % -- this pretty much is like paragraph spacing*/
    width: 60%;
    margin-left: 20%; /*It is 20% because 60 + 20+ 20. Essentially you need to adjust for the amount of text*/
}

.section-features .long-copy {
    margin-bottom: 30px; /*gives a little bit a space between the paragraph and the icons.*/
}


.box p {
    font-size: 80%;
    line-height: 145%;
}

/* ----- ICONS ------- */
.icon-big {
    font-size: 340%;
    display: block;
    color: #aad8f0;
    margin-bottom: 10px;
    text-align: center;
}


/* -------------------------------- */
/* Reviews Section */
/* -------------------------------- */

.section-reviews {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/sprout-background.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style:italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute; /*for 'position: absolute;' to work you need to have 'position: relative' as the parent.*/
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
}


/* -------------------------------- */
/* CONTACT FORM */
/* -------------------------------- */


.section-form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}


input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;} /*This psuedoclass gets rid of the blue glow around borders that is added by chrome.*/

/* -------------------------------- */
/* FOOTER SECTION */
/* -------------------------------- */

footer {
    background-color: #333;
    padding: 5px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
    
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: none; /*All the links were specified to have a border, so get rid of it*/
    color: #888;
    transition: 0.2s;
}


.footer-nav li a:hover,
.footer-nav li a:active {
    color: #e5e4e4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 5px;
}

.social-links {
    font-size: 140%;
}

#linkedin:hover,
#linkedin:active {
    color: #007bb5;
}

#facebook:hover,
#facebook:active {
    color: #3b5998;
}

#instagram:hover,
#instagram:active {
    color: #c32aa3;
}

#snapchat:hover,
#snapchat:active {
    color: #fffc00;
}

#linkedin,
#facebook,
#instagram,
#snapchat {
    transition: 0.2s;    
}



