

/* Big tablet to 1200px (width smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) { 
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}



/* Small tablet to big tablet: from 767px to 1023. */
@media only screen and (max-width: 1023px) { 
    body {font-size: 18px;}
    section { padding: 60px 0;}
    
    .contact-form {width: 80%;}
}



/* Small phones to small tablets: from 480px to 767px. */
@media only screen and (max-width: 767px) { 
    h1 {font-size: 200%;}
    
    .logo {
        height: 95px;
        margin-top: 20px;
    }
    
    .main-nav li {margin-left: 20px;}
    
    .main-nav li a:link,
    .main-nav li a:visited { /* selects each link within the list element */
        font-size: 90%; /*again, we want it relative to the 20px format*/
        padding-right: 10px;
    }
    
    .btn:link,
    .btn:visited {
        margin-top: 30px;
    }
    
    
}




/* Small devices: from 0 to 480 px. Around iphone 4-5 size*/
@media only screen and (max-width: 480px) { 
    
}


/*
.section-reviews {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/sprout-background.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    color: #fff;
    background-attachment: fixed;
}
*/